a(href='view') See users 
|
|
a(href='Home') Home
|
|
a(href='register') register 
|
|
h1 Welcome to the Home page
body please enter your details
		p Username: 
			input(type="text", id="Username")
		p Password: 
			input(type="text", id="Password")
		button(id='Login') Enter
		
		script(src='registerHandler.js')
