a(href='view') See users 
|
|
a(href='Home') Home
|
|
a(href='register') register 
h1 Are you here to register? please enter you information below
body please enter your details
		p Username: 
			input(type="textbox" id="username")
		p Password: 
			input(type="textbox" id="Pass")
		p Would you like privacy?
		input(type='checkbox' checked=false id="private")
		p Yes, I would like privacy
		|
		|
		p
		button(id='Register') Finished?
		script(src="reg.js")

		